div.sidebar
	div.logo-small
	div.user-wrapper
		div.user__avatar.avatar.small(style="background-image: url(#{user.avatar});")
		div.user__account
			a(href="")
				= user.fullname.split(" ")[0]
				i.fa.fa-user
		div.user__chat.selected
			a(href="")
				| Group chat 
				i.fa.fa-comment-o
		div.user__notification
			a(href="")
				| Notification 
				i.fa.fa-envelope-o
		div.user__setting
			a(href="")
				| Setting 
				i.fa.fa-gear
		div.user__logout
			a(href="/logout")
				| Logout 
				i.fa.fa-sign-out.fa-1x