extends layout

block content
	include includes/sidebar
	div.user-content
		= group.group_name
		ul
		each user in group.users
			li
				= user._id
				br
				= user.fullname

	script(src='/javascripts/application.js')
	script(src='/javascripts/chat.js')