doctype 5
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Join - Teamwork Support Application
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.css')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/vendor/modernizr.js')
		script(src='/javascripts/vendor/jquery.js')
		script(src='/socket.io/socket.io.js')
	body
		div.wrapper
			block content