@import "mixins.styl"

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * DEFAULTS............Set defaults
 * HOME................Styles for login/signup forms
 * HEADER_BAR..........
 * PROFILE.............
 * CHAT................
 * SETTING.............
 * 401.................Unauthorized page
 * 404.................File not found page
 * COMPONENTS..........
 */

/*------------------------------------*\
    $DEFAULTS
\*------------------------------------*/

primary-color = #1ead75
home-bg-color = #2c3338
home-text-color = #606468
home-field-bg-color = #3b4148
home-field-text-color = #eee

site-bg-color = #f4f4f4
site-text-color = #5a5656
site-field-bg-color = #e5e5e5
site-field-text-color = #5a5656

alert-color = #c50f13
success-color = #5da423

html, body
	height: 100%

body
	font: 300 14px 'Open Sans', sans-serif
	background-color: site-bg-color

input
	margin: 0
	padding: 0
	font-family: 'Open Sans', sans-serif
	font-size: 0.857142em
	outline: none
	border: 0
	border-radius: 3px

::-webkit-input-placeholder /* WebKit browsers */
	color: home-text-color

:-moz-placeholder /* Mozilla Firefox 4 to 18 */
	color: home-text-color

::-moz-placeholder /* Mozilla Firefox 19+ */
	color: home-text-color

:-ms-input-placeholder /* Internet Explorer 10+ */
	color: home-text-color

a
	color: primary-color
	text-decoration: none
	cursor: pointer
	&:hover 
		text-decoration: underline

.wrapper
	width: 100%
	height: 100%

/*------------------------------------*\
    $HOME
\*------------------------------------*/

.section-wrapper--home
	width: 100%;
	height: 100%;
	color: home-text-color
	background-color: home-bg-color

.form-wrapper
	position: absolute
	top: 20%
	left: 50%
	margin-left: -125px
	width: 250px
	text-align: center
	.logo
		width: 100%
		height: 105px
	.form
		.form__control
			position: relative
			margin-top: 10px
			input[type="text"], input[type="password"]
				width: 230px
				padding: 15px 10px
				color: home-field-text-color
				background-color: home-field-bg-color

	#login-form, #signup-form
		display: none

	.button
		display: block
		position: relative
		width: 250px
		padding: 15px 0
		color: white
		text-transform: uppercase
		border: 0
		border-radius: 3px
		&:hover
			text-decoration: none
		&:active
			padding: 18px 0 12px
			box-shadow: inset 0 3px 5px rgba(0,0,0,.5)

	#submit-button
		background-color: primary-color

	a.login-fb-button
		height: 17px
		line-height: 47px
		font-size: 0.857142em
		background-color: #4c66a4
		.fb-icon
			position: absolute
			top: 0
			bottom: 0
			left: 0
			width: 47px
			font-size: 1.5em
			background-color: rgba(0,0,0,.15)
		.fb-text
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 47px
		&:active > *
			padding-top: 3px

	.error-dialog-box
		position: absolute
		top: 0
		right: -215px
		color: alert-color
		font-size: 0.857142em
		dialog-box(170px,auto,#fff,13px)

/*------------------------------------*\
    $HEADER_BAR
\*------------------------------------*/

.top-header
	height: 70px
	line-height: 70px
	padding: 0 20px
	.logo-small
		display: inline-block
		vertical-align: middle
		bg-sprite('/images/logo_small.png',80px,33px,0,0)
	ul.user-wrapper
		float: right
		height: 100%
		margin: 0
		padding: 0
		list-style: none
		li
			float: left
			height: 100%
			padding: 0 0px 0 20px
			.avatar
				margin: 10px 0
			a
				color: site-text-color

/*------------------------------------*\
    $PROFILE
\*------------------------------------*/

/*------------------------------------*\
    $CHAT
\*------------------------------------*/

.user-content
	color: site-text-color

sidebar-width = 200px
	
.groups-list
	position: absolute
	top: 80px
	bottom: 20px
	left: 20px
	width: sidebar-width
	background-color: white
	border-radius: 3px
	box-shadow: 0 4px 0 rgba(0,0,0,.10)
	.form
		padding: 10px
		.form__control
			float: left
			input[type="text"]
				width: sidebar-width - (10*3) - (8*2) - 33
				padding: 8px
				color: site-field-text-color
				background-color: site-field-bg-color
			.button
				display: block
				position: relative
				width: 33px
				height: 33px
				margin-left: 10px
				padding: 0
				color: white
				background-color: primary-color
				border: 0
				border-radius: 3px
				outline: none
				.fa
					position: absolute
					top: 0
					right: 0
					bottom: 0
					left: 0
					line-height: 33px
				&:active
					box-shadow: inset 0 3px 5px rgba(0,0,0,.5)
				&:active > .fa
					padding-top: 3px

.group
	padding: 0 10px 10px
	.group__name
		font-weight: 700
	.group__list
		.member
			float: left
			margin: 5px 5px 0 0
			padding: 3px 5px
			font-size: 0.857142em
			font-weight: 700
			color: rgba(255,255,255,.5)
			border-radius: 3px
			&.a, &.m, &.y
				background-color: #ec4b43
			&.b, &.n, &.z
				background-color: #8bb5a9
			&.c, &.o
				background-color: #bbad55
			&.d, &.p
				background-color: #e0b0ac
			&.e, &.q
				background-color: #e1ac2c
			&.f, &.r
				background-color: #21544f
			&.g, &.s
				background-color: #d1bfa9
			&.h, &.t
				background-color: #60754e
			&.i, &.u
				background-color: #6c3f46
			&.j, &.v
				background-color: #55897d
			&.k, &.w
				background-color: #c13929
			&.l, &.x
				background-color: #811b28

.chat-windows-container
	position: absolute
	top: 80px
	right: 20px
	bottom: 20px
	left: 240px
	.chat-window
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: white
		border-radius: 3px
		box-shadow: 0 4px 0 rgba(0,0,0,.10)

/*------------------------------------*\
    $401
\*------------------------------------*/

.gandalf
	position: absolute
	top: 50%
	left: 50%
	margin-top: -75px
	margin-left: -75px
	width: 150px
	color: site-text-color
	.gandalf__avatar
		margin: 0 auto
		background-image: url('/images/gandalf_avt.jpg')
	.gandalf__quote
		margin: 12px 0 2px
		text-align: center
	.gandalf__author
		text-align: right
		font-size: 0.857142em

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/

//split button as a component

.clear
	clear: both

.avatar
	width: 100px
	height: 100px
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	border-radius: 50%
	&.small
		width: 50px
		height: 50px

/*------------------------------------*\
    $ANIMATIONS
\*------------------------------------*/

.fade-in
	-webkit-animation: fade-in 500ms
	-webkit-animation-iteration-count: 1
	-webkit-animation-fill-mode: forwards
	-webkit-animation-timing-function: ease-out

@-webkit-keyframes fade-in
	0%
		opacity: 0
	100%
		opacity: 1

.show
	-webkit-animation: jelly-show 500ms
	-webkit-animation-iteration-count: 1
	-webkit-animation-fill-mode: forwards
	-webkit-animation-timing-function: ease-out

.hide
	-webkit-animation: jelly-hide 250ms
	-webkit-animation-iteration-count: 1
	-webkit-animation-fill-mode: forwards
	-webkit-animation-timing-function: ease-out

@-webkit-keyframes jelly-show
	0%
		-webkit-transform: scale(0.0)
	50%
		-webkit-transform: scale(1.0)
	75%
		-webkit-transform: scale(0.95)
	100%
		-webkit-transform: scale(1.0)

@-webkit-keyframes jelly-hide
	0%
		-webkit-transform: scale(1.0)
	100%
		-webkit-transform: scale(0.0)