/*------------------------------------*     $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * SITE................Set defaults
 * HOME................Styles for login/signup forms
 * 401.................Unauthorized page
 * 404.................File not found page
 * SIDEBAR
 */
/*------------------------------------*     $SITE
\*------------------------------------*/
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font: 300 14px 'Open Sans', sans-serif;
  background-color: #f3f0f0;
}
input {
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.857142em;
}
::-webkit-input-placeholder /* WebKit browsers */ {
  color: #606468;
}
:-moz-placeholder /* Mozilla Firefox 4 to 18 */ {
  color: #606468;
}
::-moz-placeholder /* Mozilla Firefox 19+ */ {
  color: #606468;
}
:-ms-input-placeholder /* Internet Explorer 10+ */ {
  color: #606468;
}
a {
  color: #1ead75;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
.wrapper {
  width: 100%;
  height: 100%;
}
/*------------------------------------*     $HOME
\*------------------------------------*/
.home-wrapper {
  width: 100%;
  height: 100%;
  background-color: #2c3338;
}
.form-wrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  color: #606468;
  text-align: center;
}
.form-wrapper .logo {
  width: 100%;
  height: 105px;
}
.form-wrapper .form__control {
  margin-top: 10px;
}
.form-wrapper .form__control input[type="text"],
.form-wrapper .form__control input[type="password"] {
  width: 230px;
  color: #eee;
  background-color: #3b4148;
}
.form-wrapper #submit-button {
  width: 250px;
}
.form-wrapper #login-form,
.form-wrapper #signup-form {
  display: none;
}
.form-wrapper .error-dialog-box {
  position: absolute;
  top: 2px;
  right: -215px;
  color: #d12424;
  font-size: 0.857142em;
  position: absolute;
  width: 170px;
  height: auto;
  padding: 15px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-wrapper .error-dialog-box:after {
  content: "";
  position: absolute;
  top: 13px;
  left: -20px;
  border-top: solid 10px transparent;
  border-right: solid 10px #fff;
  border-bottom: solid 10px transparent;
  border-left: solid 10px transparent;
}
.form-wrapper .login-fb {
  margin-top: 20px;
}
.form-wrapper .login-fb a.login-fb-button {
  display: block;
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 20px auto 0;
  font-size: 35px;
  color: #fff;
  background-color: #4c66a4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/*------------------------------------*     $401
\*------------------------------------*/
.gandalf {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -75px;
  width: 150px;
  color: #5a5656;
}
.gandalf .gandalf__avatar {
  margin: 0 auto;
  background-image: url("/images/gandalf_avt.jpg");
}
.gandalf .gandalf__quote {
  margin: 12px 0 2px;
  text-align: center;
}
.gandalf .gandalf__author {
  text-align: right;
  font-size: 0.857142em;
}
/*------------------------------------*     $SIDEBAR
\*------------------------------------*/
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 140px;
  background-color: #2c3338;
}
.sidebar .logo-small {
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -50px;
  background-image: url("/images/logo_small.png");
  width: 100px;
  height: 100px;
  background-position: 0 0;
}
.sidebar .user-wrapper {
  position: absolute;
  bottom: 0;
  width: 100px;
  padding: 20px;
  color: #5a5656;
  text-align: right;
}
.sidebar .user-wrapper .user__avatar {
  margin: 20px 25px;
}
.sidebar .user-wrapper .user__account,
.sidebar .user-wrapper .user__chat,
.sidebar .user-wrapper .user__notification,
.sidebar .user-wrapper .user__setting,
.sidebar .user-wrapper .user__logout {
  padding-top: 4px;
}
.sidebar .user-wrapper .user__account a,
.sidebar .user-wrapper .user__chat a,
.sidebar .user-wrapper .user__notification a,
.sidebar .user-wrapper .user__setting a,
.sidebar .user-wrapper .user__logout a {
  color: #808080;
  text-decoration: none;
}
.sidebar .user-wrapper .user__account .fa,
.sidebar .user-wrapper .user__chat .fa,
.sidebar .user-wrapper .user__notification .fa,
.sidebar .user-wrapper .user__setting .fa,
.sidebar .user-wrapper .user__logout .fa {
  width: 22px;
  text-align: center;
}
.sidebar .user-wrapper .user__account.selected,
.sidebar .user-wrapper .user__chat.selected,
.sidebar .user-wrapper .user__notification.selected,
.sidebar .user-wrapper .user__setting.selected,
.sidebar .user-wrapper .user__logout.selected {
  position: relative;
}
.sidebar .user-wrapper .user__account.selected:after,
.sidebar .user-wrapper .user__chat.selected:after,
.sidebar .user-wrapper .user__notification.selected:after,
.sidebar .user-wrapper .user__setting.selected:after,
.sidebar .user-wrapper .user__logout.selected:after {
  content: "";
  position: absolute;
  border-top: solid 10px transparent;
  border-right: solid 10px #f3f0f0;
  border-bottom: solid 10px transparent;
  border-left: solid 10px transparent;
  right: -20px;
  bottom: 0;
}
/*------------------------------------*     $USER_CONTENT
\*------------------------------------*/
.user-content {
  margin-left: 140px;
}
.user-content .user-content__title {
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: solid thin #e0e0e0;
}
.user-content .user-content__title .form__control {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
}
.user-content .user-content__title .form__control input[type="text"],
.user-content .user-content__title .form__control input[type="password"] {
  width: 230px;
  color: #5a5656;
  background-color: #e5e5e5;
}
.user-content .user-content__detail {
  padding: 0 10px;
}
.group {
  position: relative;
  float: left;
  width: 190px;
  height: 140px;
  margin: 12px 12px 0 0;
  padding: 5px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 4px 0 rgba(0,0,0,0.1);
}
.group .group__name a {
  font-size: 1.5em;
  font-weight: 700;
  color: #5a5656;
  text-decoration: none;
}
.group .group__list {
  position: absolute;
  left: 0;
  bottom: 0;
}
.group .group__list .member {
  float: left;
  padding: 3px 5px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 5px 5px;
  font-size: 0.857142em;
}
.group .group__list .member.a,
.group .group__list .member.m,
.group .group__list .member.y {
  background-color: #ec4b43;
}
.group .group__list .member.b,
.group .group__list .member.n,
.group .group__list .member.z {
  background-color: #8bb5a9;
}
.group .group__list .member.c,
.group .group__list .member.o {
  background-color: #bbad55;
}
.group .group__list .member.d,
.group .group__list .member.p {
  background-color: #e0b0ac;
}
.group .group__list .member.e,
.group .group__list .member.q {
  background-color: #e1ac2c;
}
.group .group__list .member.f,
.group .group__list .member.r {
  background-color: #21544f;
}
.group .group__list .member.g,
.group .group__list .member.s {
  background-color: #d1bfa9;
}
.group .group__list .member.h,
.group .group__list .member.t {
  background-color: #60754e;
}
.group .group__list .member.i,
.group .group__list .member.u {
  background-color: #6c3f46;
}
.group .group__list .member.j,
.group .group__list .member.v {
  background-color: #55897d;
}
.group .group__list .member.k,
.group .group__list .member.w {
  background-color: #c13929;
}
.group .group__list .member.l,
.group .group__list .member.x {
  background-color: #811b28;
}
/*------------------------------------*     $COMPONENTS
\*------------------------------------*/
.form .form__control {
  position: relative;
}
.form .form__control input[type="text"],
.form .form__control input[type="password"] {
  padding: 15px 10px;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.button {
  display: inline-block;
  position: relative;
  padding: 15px 15px;
  color: #fff;
  text-transform: uppercase;
  background-color: #1ead75;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.button:active {
  padding: 18px 15px 12px;
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.5);
}
.avatar {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.avatar.small {
  width: 50px;
  height: 50px;
}
/*------------------------------------*     $ANIMATIONS
\*------------------------------------*/
.fade-in {
  -webkit-animation: fade-in 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.show {
  -webkit-animation: jelly-show 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
}
.hide {
  -webkit-animation: jelly-hide 250ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
}
@-webkit-keyframes jelly-show {
  0% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes jelly-hide {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0);
  }
}
