
@import "mixins.styl"

outer-space = #2c3338
bright-gray = #3b4148
shuttle-gray = #606468
gallery = #eee
mountain-meadow = #1ead75
scorpion = #5a5656

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * SITE................Set defaults
 * HOME................Styles for login/signup forms
 * 401.................Unauthorized page
 * 404.................File not found page
 * SIDEBAR
 */

/*------------------------------------*\
    $SITE
\*------------------------------------*/

html, body
	height: 100%

body
	margin: 0
	font: 300 14px 'Open Sans', sans-serif
	background-color: #f4f4f4

input
	outline: none
	font-family: 'Open Sans', sans-serif
	font-size: 0.857142em

::-webkit-input-placeholder /* WebKit browsers */
	color: shuttle-gray

:-moz-placeholder /* Mozilla Firefox 4 to 18 */
	color: shuttle-gray

::-moz-placeholder /* Mozilla Firefox 19+ */
	color: shuttle-gray

:-ms-input-placeholder /* Internet Explorer 10+ */
	color: shuttle-gray

a
	color: mountain-meadow
	cursor: pointer
	&:hover 
		text-decoration: underline

.wrapper
	width: 100%
	height: 100%

/*------------------------------------*\
    $HOME
\*------------------------------------*/

.home-wrapper
	width: 100%;
	height: 100%;
	background-color: outer-space

.form-wrapper
	position: absolute
	top: 20%
	left: 50%
	margin-left: -125px
	width: 250px
	color: shuttle-gray
	text-align: center
	.logo
		width: 100%
		height: 105px
	.form__control
		position: relative
		margin-top: 10px
		input[type="text"], input[type="password"]
			width: 230px
			padding: 15px 10px
			color: gallery
			background-color: bright-gray
			border: 0
			border-radius: 3px
	#submit-button
		width: 250px

	#login-form, #signup-form
		display: none

	.error-dialog-box
		position: absolute
		top: 2px
		right: -215px
		color: #d12424
		font-size: 0.857142em
		dialog-box(170px,auto,#fff,13px)

/*------------------------------------*\
    $401
\*------------------------------------*/

.gandalf
	position: absolute
	top: 50%
	left: 50%
	margin-top: -75px
	margin-left: -75px
	width: 150px
	color: scorpion
	.gandalf__avatar
		margin: 0 auto
		background-image: url('/images/gandalf_avt.jpg')
	.gandalf__quote
		margin: 12px 0 2px
		text-align: center
	.gandalf__author
		text-align: right
		font-size: 0.857142em

/*------------------------------------*\
    $SIDEBAR
\*------------------------------------*/

.sidebar
	position: absolute
	top: 0
	bottom: 0
	left: 0
	width: 140px
	background-color: outer-space
	.logo-small
		position: absolute
		top: 50%
		left: 20px
		margin-top: -50px
		bg-sprite('/images/logo_small.png',100px,100px,0,0)
	.user-wrapper
		position: absolute
		bottom: 0
		width: 100px
		padding: 20px
		color: #5a5656
		text-align: right
		.user__avatar
			margin: 20px 25px
		.user__account, .user__chat, .user__notification, .user__setting, .user__logout
			padding-top: 4px
			a
				text-decoration: none
			.fa
				width: 22px
				text-align: center

/*------------------------------------*\
    $USER_CONTENT
\*------------------------------------*/

.user-content
	margin-left: 140px
	color: #5a5656
	.form__control
		display: inline-block
		margin: 0 10px 0 0
	#new-group-form
		margin: 10px
		padding: 10px
		border-bottom: solid thin #e5e5e5

.group
	float: left
	width: 200px
	height: 150px
	border: solid thin gray
	border-radius: 3px
	margin: 10px 0px 10px 20px
	.group__name
		font-weight: 700
	.group__list
		.member
			float: left
			padding: 3px 5px
			background-color: gray
			color: white
			border-radius: 3px
			margin: 3px
			font-size: 0.857142em

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/

.button
	display: inline-block
	position: relative
	padding: 15px 15px
	color: white
	text-transform: uppercase
	background-color: #1ead75
	border: 0
	border-radius: 3px
	&:active
		padding: 18px 15px 12px
		box-shadow: inset 0 3px 5px rgba(0,0,0,.5)

.avatar
	width: 100px
	height: 100px
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	border-radius: 50%
	&.small
		width: 50px
		height: 50px

/*------------------------------------*\
    $ANIMATIONS
\*------------------------------------*/

.fade-in
	-webkit-animation: fade-in 500ms
	-webkit-animation-iteration-count: 1
	-webkit-animation-fill-mode: forwards
	-webkit-animation-timing-function: ease-out

@-webkit-keyframes fade-in
	0%
		opacity: 0
	100%
		opacity: 1

.show
	-webkit-animation: jelly-show 500ms
	-webkit-animation-iteration-count: 1
	-webkit-animation-fill-mode: forwards
	-webkit-animation-timing-function: ease-out

.hide
	-webkit-animation: jelly-hide 250ms
	-webkit-animation-iteration-count: 1
	-webkit-animation-fill-mode: forwards
	-webkit-animation-timing-function: ease-out

@-webkit-keyframes jelly-show
	0%
		-webkit-transform: scale(0.0)
	50%
		-webkit-transform: scale(1.0)
	75%
		-webkit-transform: scale(0.95)
	100%
		-webkit-transform: scale(1.0)

@-webkit-keyframes jelly-hide
	0%
		-webkit-transform: scale(1.0)
	100%
		-webkit-transform: scale(0.0)
