/*------------------------------------*     $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * SITE................Set defaults
 * HOME................Styles for login/signup forms
 * 401.................Unauthorized page
 * 404.................File not found page
 * SIDEBAR
 */
/*------------------------------------*     $SITE
\*------------------------------------*/
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: #fff;
}
input {
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.857142em;
}
a {
  color: #5a5656;
}
::-webkit-input-placeholder /* WebKit browsers */ {
  color: #5a5656;
}
:-moz-placeholder /* Mozilla Firefox 4 to 18 */ {
  color: #5a5656;
}
::-moz-placeholder /* Mozilla Firefox 19+ */ {
  color: #5a5656;
}
:-ms-input-placeholder /* Internet Explorer 10+ */ {
  color: #5a5656;
}
.wrapper {
  width: 100%;
}
.fade-in {
  -webkit-animation: fade-in 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/*------------------------------------*     $HOME
\*------------------------------------*/
.home-wrapper {
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  color: #5a5656;
  text-align: center;
}
.home-wrapper .logo {
  width: 100%;
  height: 105px;
}
.home-wrapper #submit-button {
  width: 250px;
}
.home-wrapper #login-form {
  position: relative;
}
.home-wrapper #signup-form {
  display: none;
}
.home-wrapper .switch-signup {
  margin-top: 10px;
}
.home-wrapper .switch-login {
  display: none;
  margin-top: 10px;
}
.home-wrapper #switch-signup-link,
.home-wrapper #switch-login-link {
  color: #1ead75;
  cursor: pointer;
}
.home-wrapper #switch-signup-link:hover,
.home-wrapper #switch-login-link:hover {
  text-decoration: underline;
}
.home-wrapper .error-dialog-box {
  position: absolute;
  top: 2px;
  right: -160px;
  color: #d12424;
  position: absolute;
  width: 110px;
  height: 38px;
  padding: 15px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.home-wrapper .error-dialog-box:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -20px;
  border-top: solid 10px transparent;
  border-right: solid 10px #fff;
  border-bottom: solid 10px transparent;
  border-left: solid 10px transparent;
}
.home-wrapper .error-msg {
  margin-top: 10px;
  color: #d12424;
}
.form__control {
  margin-top: 10px;
}
.form__control input[type="text"],
.form__control input[type="password"] {
  width: 230px;
  padding: 15px 10px;
  color: #5a5656;
  background-color: #e5e5e5;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.show {
  -webkit-animation: jelly-show 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
}
.hide {
  -webkit-animation: jelly-hide 250ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
}
@-webkit-keyframes jelly-show {
  0% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes jelly-hide {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0);
  }
}
/*------------------------------------*     $401
\*------------------------------------*/
.gandalf {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -75px;
  width: 150px;
  color: #5a5656;
}
.gandalf .gandalf__author {
  text-align: right;
  font-size: 0.857142em;
}
.gandalf .gandalf__quote {
  margin: 12px 0 2px;
  text-align: center;
}
.gandalf .gandalf__avatar {
  margin: 0 auto;
  background-image: url("/images/gandalf_avt.jpg");
}
/*------------------------------------*     $SIDEBAR
\*------------------------------------*/
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 140px;
  background-color: #e4e4e4;
}
.sidebar .logo-small {
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -50px;
  background-image: url("/images/logo_small.png");
  width: 100px;
  height: 100px;
  background-position: 0 0;
}
.sidebar .user-wrapper {
  position: absolute;
  bottom: 0;
  width: 100px;
  padding: 20px;
  color: #5a5656;
  text-align: right;
}
.sidebar .user-wrapper .user__avatar {
  margin: 20px 25px;
}
.sidebar .user-wrapper .user__account,
.sidebar .user-wrapper .user__chat,
.sidebar .user-wrapper .user__notification,
.sidebar .user-wrapper .user__setting,
.sidebar .user-wrapper .user__logout {
  padding-top: 4px;
}
.sidebar .user-wrapper .user__account a,
.sidebar .user-wrapper .user__chat a,
.sidebar .user-wrapper .user__notification a,
.sidebar .user-wrapper .user__setting a,
.sidebar .user-wrapper .user__logout a {
  text-decoration: none;
}
.sidebar .user-wrapper .user__account .fa,
.sidebar .user-wrapper .user__chat .fa,
.sidebar .user-wrapper .user__notification .fa,
.sidebar .user-wrapper .user__setting .fa,
.sidebar .user-wrapper .user__logout .fa {
  width: 22px;
  text-align: center;
}
/*------------------------------------*     $USER_CONTENT
\*------------------------------------*/
.user-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 140px;
  color: #5a5656;
}
.user-content .form__control {
  display: inline-block;
  margin: 0 10px 0 0;
}
.user-content #new-group-form {
  margin: 10px;
  padding: 10px;
  border-bottom: solid thin #e5e5e5;
}
.group {
  float: left;
  width: 200px;
  height: 150px;
  border: solid thin #808080;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 10px 0px 10px 20px;
}
.group .group__name {
  font-weight: 700;
}
.group .group__list .member {
  float: left;
  padding: 3px 5px;
  background-color: #808080;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 3px;
  font-size: 0.857142em;
}
/*------------------------------------*     $COMPONENTS
\*------------------------------------*/
.button {
  display: inline-block;
  position: relative;
  padding: 15px 15px;
  color: #fff;
  text-transform: uppercase;
  background-color: #1ead75;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.button:active {
  padding: 18px 15px 12px;
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.5);
}
.avatar {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.avatar.small {
  width: 50px;
  height: 50px;
}
